name: Python Code Convention Check
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  python-linter:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Super-Linter
        uses: super-linter/super-linter@v5
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_PYTHON_PYLINT: true
          FILTER_REGEX_INCLUDE: .*ProgramCodeModified\.py
